<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API Secret</key>
	<string>SyHvIvRXHnaQlae1N1ptJZZ4ouQ2VFq5nO8BhWUu9iobL4DFh9</string>
	<key>API Key</key>
	<string>pwnkZYGNnNXXBMGNTdMR72eff</string>
</dict>
</plist>
